﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="HomeWorker.aspx.cs" Inherits="View_Modulos_Worker_HomeWorker" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>BIENVENIDO TRABAJADOR</h1>
        </div>
    </form>
</body>
</html>
