﻿<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/View/Home.master" CodeFile="HomeAdmin.aspx.cs" Inherits="View_Modulos_Admin_HomeAdmin" %>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
  
        <h1 align="center">BIENVENIDO A SU PUNTO DE VENTA</h1>


   
</asp:Content>


