﻿
<%@ Page Language="C#" AutoEventWireup="true" MasterPageFile="~/View/Home.master" CodeFile="Menu.aspx.cs" Inherits="View_Menu" %>


<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder2" runat="server">

     <br />
                    <br />
                    <br />

                    <div class="panel panel-default">
                      <div class="panel-heading">
                            <h3>
                                <a href="#demo" data-toggle="collapse"><span class="glyphicon glyphicon-th-large"></span>MENU</a>
                            </h3>
                      </div>
                      <div class="panel-body">
                           <div id="demo" class="collapse in">
                               <div class="panel panel-default">
                                  <div class="panel-body">
                                      <a href="HomeAdmin.aspx">
                                        <span class="glyphicon glyphicon-check"></span>Pagina Principal
                                      </a>
                                  </div>
                                </div>    
                        </div>
                      </div>
                    </div>

</asp:Content>